body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #d6a4a4;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 20px;
}

.delight{
    text-align: center;
    color: black;
    font-size: 30px;
    padding-bottom: 5px;
    border-radius: 10px;
    position: relative;
    
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.hero-left, .hero-right {
    width: 45%;
}

.hero-left img, .hero-right img {
    width: 700px;
    height: 400px;
    border: 10px solid #d6a4a4;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    
}

.hero-text {
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    height: 400px;
    align-content: center;
}

.buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #f1b0b7;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #d6a4a4;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    overflow-x: auto; 
}

.card {
    width: 24%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    height: 60px;
    border-radius: 10px;
    margin: 10px auto;
    display: block;
}


.card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


footer {
    background-color: #d6a4a4;
    padding: 10px;
    text-align: center;
    color: #fff;
}
