@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Cedarville+Cursive&family=Grey+Qo&family=Playwrite+DK+Loopet:wght@100..400&display=swap');


.playwright{
    font-family: "Playwrite DK Loopet", cursive;
}

@media (max-width: 768px) {
    img {
        max-width: 100%;
        height: auto;
    }
}
